<div class="col-md-6 col-md-offset-3">
	<h1>cancel done successfull</h1>
	<form class="form-inline">
		<div class="form-group">
			<label>Selected Show Date</label>
			<input type="date" class="form-control" id="ShowDate" ng-model="selectedDate">
		</div>
		<div clss="form-group">
			<label>Selected Show Time</label>
		 <select name="repeatSelect" id="repeatSelect" ng-model="selectedSlot">
		      	<option ng-repeat="s in slots" value="{{s}}">{{s}}</option>
		    </select>
		</div>
		<button type="submit" class="bt btn-default" ng-click="showSeats()">Submit</button>
	</form>
</div>
<div>
	<table class="table table-condensed">
		<thead>
			<tr>
				<!-- <th>Selected Seats</th> -->
				<!-- <th>cancel</th> -->
				<th>Order No</th>
				<th>Booking Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="b in bookingList">
				<td>{{b.orderNo}}</td>
				<td>{{b.bookingDate}}</td>
				<td>
					<button type="button" class="btn btn-danger" ng-click="deleteBooking(b)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>