
<div class="row">
	<div class="col-md-3"><img ng-src="{{MovieData.Poster}}"/></div>
	<div class="col-md-6">
		<h1><b><i>{{MovieData.Title}}</i></b></h1>
		<h3><i>{{MovieData.Releaed}}</i></h3>
		<h5><i>{{MovieData.Director}}</i></h5>
		<h5><i>{{MovieData.Genre}}</i></h5>
		<h5><i>{{MovieData.Actors}}</i></h5>
		<h5><i>{{MovieData.Language}}</i></h5>	
	</div>	
</div>
<br/>
<br/>
<div class="row">
	<div clas="col-md-12">
		<form class="form-inline">
				<label>City Name:</label>
				<select class="form-control" id="sel1"  ng-model="selectedCity">
					<option value="">---Please select---</option>
					<option ng-repeat="city in cityList" value="{{city.cityName}}">{{city.cityName}}</option>
		      	</select>
		      
		      	<!-- 	<label>Show Date:</label>
		      	<input id="date" name="fromDate" placeholder="DD/MM/YY" type="text" ng-model="selectedMovie.Released"> -->
		      	
		      	<button type="button" class="btn btn-success" ng-click="viewThetersByCity()">View Theaters</button>
		</form>
	</div>
</div>


<div class="row">
	<div clas="col-md-12">
		<table class="table table-hover" ng-show="showTable">
			<thead>
		      <tr>
		      	<th>City Name</th>
		    	<th>Theatre Name</th>
		    	<th>Movie Title</th>
				<th>From Date</th>
				<th>To Date</th>
				<th>Slots</th>
				<!-- <button type="button" class="btn btn-primary">Delete</button> -->
		      </tr>
    		</thead>
		    <tbody>
 				<tr ng-repeat="s in showList|filter:{theater:{theatreCity:selectedCity},movie:{Title:MovieData.Title}}">
					<td>{{s.theater.theatreCity}}</td>
					<td>{{s.theater.theatreName}}</td>
				 	<td>{{s.movie.Title}}</td>
				   	<td>{{s.fromDate}}</td>
				   	<td>{{s.toDate}}</td>
				   	<td>{{s.slot}}</td>
				    <td>
				    	
				<a class="btn btn-warning" href="/booking/{{s._id}}">Book</a>
				<!-- <button type="button" class="btn btn-primary" 
					    ng-click="deleteShow()">Reset</button> -->
				    </td>
				</tr>	
				<!-- <button type="button" class="btn btn-primary">Delete</button> -->
			</tbody>
		</table>
	</div>
</div>