<div class="col-md-6 col-md-offset-3">
  <div class="row">
     <form>
      <label>Theatre Name:</label>
        <input type="text" class="form-control" id="contact" placeholder="Enter Theatre Name" ng-model="theatreName">
      </select>
      <label>Select City:</label>
        <select class="form-control" id="sel1" ng-options="city.cityName for city in cityList" ng-model="selectedCity">
        </select>
      <label>Theatre Address</label>
        <input type="text" class="form-control" id="city" placeholder="Enter theatre address" ng-model="theatreAddress">
      <label>Contact</label>
        <input type="text" class="form-control" id="contact" placeholder="Enter contact no" ng-model="theatreContact">
        
    </form><br/>
      <button type="button" class="btn btn-success" 
      ng-click="addTheatre()" clear="both">Add</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" 
      ng-click="deleteTheatre()" clear="both">Reset</button>
  </div>
  <br>
   <!-- <table cellspacing="10">
     <thead>
        <tr>
          <th>TheatreName</th>&nbsp;&nbsp;
          <th>TheatreCity</th>&nbsp;&nbsp;
          <th>TheatreAddress</th>&nbsp;&nbsp;
          <th>Contact</th>&nbsp;&nbsp;
        </tr>
      </thead>
      <tbody cellspacing="10">
        <tr ng-repeat="t in theatreList">
          <td>{{t.theatreName}}</td>
          <td>{{t.theatreCity}}</td>
          <td>{{t.theatreAddress}}</td>
          <td>{{t.theatreContact}}</td>
          <td>
            <button type="button" class="btn btn-danger" ng-click="deleteTheatre(t)">Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  <table> -->

 <div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Theatre Name</th>
          <th>City</th>
          <th>Address</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="t in theatreList">
            <td>{{t.theatreName}}</td>
            <td>{{t.theatreCity}}</td>
            <td>{{t.theatreAddress}}</td>
            <td>{{t.theatreContact}}</td>
            <td><button type="button" class="btn btn-danger" ng-click="deleteTheatre(t)">Delete</button></td>
        </tr>
      </tbody>
    </table>
 </div>
</div>